<%= form_with(model: @task, local: true, url: choose_new_or_edit) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><b><%= form.label :title %></b><br>
  <%= form.text_field :title %><br>
  </p>

  <p><b><%= form.label :summary %></b><br>
  <%= form.text_area :summary %><br>
  </p>

  <p><b><%= form.label :deadline %>：</b>
  <%= form.date_field :deadline %>
  </p>

  <p><b><%= form.label :status %>：</b>
  <%= form.select(:status, Task.statuses_i18n.invert, {}, include_blank: true) %> 
  </p>

  <p><b><%= form.label :priority %>：</b>
  <%= form.select(:priority, Task.priorities_i18n.invert, {}, include_blank: true) %> 
  </p>

  <div class = "labels">
  <p><b>ラベル：</b>
  <%= form.collection_check_boxes(:label_ids, Label.all, :id, :title)%>
  </p>
  </div>

  <%= form.submit %>
<% end %>