<h2>タイトル：<%= @task.title%></h2>
<h3>概要</h3>
<p><%= @task.summary %></p>
<h3>終了期限</h3>
<p><%= @task.deadline %></p>
<h3>ステータス</h3>
<p><%= @task.status_i18n %></p>

<p>
<%= link_to "編集", edit_task_path %> | <%= link_to "戻る", tasks_path %>
</p>