<h2><%= @task.title%></h2>
<br>
<p><b>概要：</b>
<%= @task.summary %></p>
<p><b>終了期限：</b>
<%= @task.deadline %></p>
<p><b>ステータス：</b>
<%= @task.status_i18n %></p>
<p><b>優先度：</b>
<%= @task.priority_i18n %></p>
<p><b>ラベル：</b>
<% @task.labelings.each_with_index do | labeling, i |%>
  <% if i == @task.labelings.size - 1 %> 
    <%= labeling.label.title %> 
  <% else %>
    <%= labeling.label.title %>, 
  <% end %>
<% end %></p>

<div class="bottom_menu">
<p>
<%= link_to "編集", edit_task_path %> | <%= link_to "戻る", tasks_path %>
</p>
</div>