<%= form_with(model: @user, local: true) do |f| %> 
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p><b><%= f.label :name %>：</b>
  <%= f.text_field :name %></p>

  <p><b><%= f.label :email %>：</b>
  <%= f.email_field :email %></p>

  <p><b><%= f.label :password %>：</b>
  <%= f.password_field :password %></p>

  <p><b><%= f.label :password_confirmation %>：</b>
  <%= f.password_field :password_confirmation %></p>

  <%= f.submit %>
<% end %>