<h1>ユーザ登録</h1>

<%= render 'error' %>

<%= form_with(model: @user, local: true) do |f| %>  
  <p><b><%= f.label :name %>：</b>
  <%= f.text_field :name %></p>

  <p><b><%= f.label :email %>：</b>
  <%= f.email_field :email %></p>

  <p><b><%= f.label :password %>：</b>
  <%= f.password_field :password %></p>

  <p><b><%= f.label :password_confirmation %>：</b>
  <%= f.password_field :password_confirmation %></p>

  <%= f.submit "Create my account" %>
<% end %>