<div class="task_index">
<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>
<p>権限: <%= @user.roll_i18n %></p>

<%= link_to 'ユーザー編集', edit_admin_user_path(@user.id), class: "btn btn-outline-success" %>

<div class="bottom_menu">
<p>
<%= link_to "編集", edit_admin_user_path %> | <%= link_to "戻る", admin_users_path %>
</p>
</div>

<table>
  <tr>
    <th>タイトル</th>
    <th>概要</th>
    <th><%= link_to "終了期限", user_path(@user.id, deadline: "true"), class: "link_color" %></th>
    <th>ステータス</th>
    <th><%= link_to "優先度", user_path(@user.id, priority: "true"), class: "link_color" %></th>
    <th>作成者</th>
  </tr>
  <% @tasks.each do | task | %>
  <tr class = "task_row" >
    <td><%= task.title %></td>
    <td><%= task.summary %></td>
    <td><%= task.deadline %></td>
    <td><%= task.status_i18n %></td>
    <td><%= task.priority_i18n %></td>
    <td><%= task.user.name %></td>
    <td class="task_nav"><%= link_to '詳細', task_path(task.id), class: "btn btn-outline-primary" %></td>
    <td class="task_nav"><%= link_to '編集', edit_task_path(task.id), class: "btn btn-outline-success" %></td>
    <td class="task_nav"><%= link_to '削除', task_path(task.id), method: :delete ,data: { confirm: '本当に削除してよろしですか？'}, class: "btn btn-outline-danger" %></td>
  </tr>
  <% end %>
</table>
</div>