<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header>
    <div class="global_menu">
    <h1 class="app_title"><%= link_to 'TaskManager', tasks_path %></h1>
    
    <nav>
      <ul>
        <% if logged_in? %>
          <% if admin? %>
            <li><%= link_to 'ユーザー管理', admin_users_path, class: "link_color" %></li>
          <% end %>
          <li><%= link_to 'タスク登録', new_task_path %></li>
          <li><%= link_to 'タスク一覧', tasks_path %></li>
          <li><%= link_to 'マイページ', user_path(current_user.id) %></li>
          <li><%= link_to 'ログアウト', session_path(current_user.id), method: :delete %></li>
        <% else %>
          <li><%= link_to 'サインアップ', new_user_path %></li>
          <li><%= link_to 'ログイン', new_session_path %></li>
        <% end %>
      </ul>
    </nav>
    </div>
    </header>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <div class="contents">
      <%= yield %>
    </div>
  </body>
</html>
